<h2>Admitted Student Checklists</h2>

<div class="editable">
    <p>Newly admitted students receive a &quot;new student checklist&quot; along with their acceptance letter and other materials. The checklist varies slightly for students who apply for the early admission deadline and students who apply for the regular admission deadline. The checklist is updated occasionally.&nbsp; Here are the most recent versions of the checklists:</p>
    <h3 id="checklist-earlyAdmission">Checklist for early admission students</h3>
    <div class="iframe-container">
    <p><iframe src="https://app.box.com/embed/preview/q5qg9xtagdo9g55tyspk?view=&amp;sort=&amp;direction=ASC&amp;theme=dark" width="100%" height="500" frameborder="0" allowfullscreen="" webkitallowfullscreen="" msallowfullscreen=""></iframe></p>
    </div>
    <hr />
    <h3 id="checklist-regularMatriculated">Checklist for regular admission matriculated students</h3>
    <p><iframe src="https://app.box.com/embed/preview/hnibbw5ylisi3a3gyiu4?theme=dark" width="80%" height="500" frameborder="0" allowfullscreen="" webkitallowfullscreen="" msallowfullscreen=""></iframe></p>
    <hr />
    <h3 id="checklist-regularNonMatriculated">Checklist for regular admission non-matriculated students</h3>
    <p><iframe src="https://app.box.com/embed/preview/wzdp1ea16zt3lt2wq6yq?theme=dark" width="80%" height="500" frameborder="0" allowfullscreen="" webkitallowfullscreen="" msallowfullscreen=""></iframe></p>
    <p>New students should also pay attention to the &quot;to-do lists&quot; that appear in the right hand navigation panel in CAESAR. Tasks on the CAESAR checklist may include things you need to do to have student loans disbursed or to enable you to register for courses. Therefore, it is important that you pay attention to those items as well.</p><p>If you have any questions about any of the things listed here feel free to contact the MSHE office.</p></div>   